.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons-block {
  display: flex;
  align-items: space-between;
}

.btn {
  margin-left: 5px;
}

